// Example theme
.msts
	&_theme_example
		border: 1px solid silver

		& ^[0]__side
			width: 50%

		& ^[0]__list
			height: 120px
			overflow-y: auto
			overflow-x: hidden

		& ^[0]__list-item
			padding: 3px 5px

			&:hover
				background-color: gold
